
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    text-align: left;
}

.profile h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.profile p {
    font-size: 16px;
    margin-bottom: 20px;
}

.bio{
   padding: 10px;
}

.social-buttons {
    margin-top: 5px;
    background-color: rgba(248, 248, 248, 0.276) ;
    padding: 10px;
    border-radius: 13px;
    width: 400px;
}

.social-buttons a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.social-buttons button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 30px;
}

.social-buttons img {
    width: 35px;
    height: 35px; 
}

.resume{
    padding-top: 20px;
}

.resume a{
    padding: 10px;
}

.resume button{
    font-weight: bold;
    border-radius: 30px;
    height: 35px;
    width: 110px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.resume button:hover{
    background-color: aquamarine;

}

.skills, .projects {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skills h2, .projects h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.skills ul, .projects ul {
    list-style: none;
    padding: 0;
}

.skills li, .projects li {
    margin-bottom: 10px;
}

.skill-name {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}

.skill-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
}

.skill-level {
    height: 100%;
    border-radius: 5px;
    background-color: #9b9b9b;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    position: absolute;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    clear: both;
}
